<phpunit>
  <php>
    <var name="DB_DSN" value="mysql:dbname=t;host=localhost" />
    <var name="DB_USER" value="root" />
    <var name="DB_PASSWD" value="root" />
    <var name="DB_DBNAME" value="t" />
  </php>

  <testsuites>
    <testsuite name="money">
      <file>DBTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
